<div class="container">
  <div class="container-header">
    <h4 class="container-title">Task List</h4>
    <p class="container-subtitle">Let's do great things today</p>
  </div>
  <div class="container-body">
    <table class="table">
      <thead class="table-head">
        <th>ID</th>
        <th>Название</th>
        <th>Категория</th>
        <th>Приоритет</th>
        <th>Дата</th>
        <th>Статус</th>
      </thead>
      <tbody class="table-body">
        <tr
          *ngFor="let task of tasks; index as id"
          [class.completed]="task.completed"
          class="table-row"
        >
          <td>{{ id + 1 }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.category?.title || "Без категории" }}</td>
          <td>{{ task.priority?.title || "Без приоритета" }}</td>
          <td>{{ (task?.date | date) || "Без даты" }}</td>
          <td>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  [checked]="task.completed"
                  (click)="updateTaskStatus(task.id)"
                />
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
