:host {
  box-sizing: border-box;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  width: 100%;
  max-width: 500px;
  min-width: 250px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 3px solid #93d893;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(60deg,#ffa726,#fb8c00);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
  border-radius: 3px;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.material-icons {
  font-size: 36px;
}

.card-title {
  font-size: 32px;
}

.card-footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #999;
  padding: 5px;
  padding-bottom: 0;
}

.card-subtitle {
  font-size: 16px;
  color: #999;
}
