<div class="container">
  <mat-card class="card" *ngFor="let stat of stats">
    <mat-card-header class="card-header">
      <div mat-card-avatar class="card-icon">
        <i class="material-icons">{{ stat.icon }}</i>
      </div>
      <mat-card-title class="card-title">
        {{ stat.title }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-footer class="card-footer">
      <mat-card-subtitle class="card-subtitle">
        {{ stat.subtitle }}
      </mat-card-subtitle>
    </mat-card-footer>
  </mat-card>
</div>
