<div class="logo">
  <a
    routerLink="/"
    class="simple-text logo-normal"
    (click)="showTasksByCategory(categories[0])"
  >
    Progressive Todo
  </a>
</div>

<mat-selection-list #category class="selection-list" [multiple]="false">
  <mat-list-option
    class="list-option"
    *ngFor="let category of categories"
    [value]="category"
    (click)="showTasksByCategory(category)"
    [class.active]="category === selectedCategory"
  >
    {{ category.title  }}
  </mat-list-option>
</mat-selection-list>
